
html,
body,

.view {
    background: url("../img/comingsoonBG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 85%;
		background-color: #2f3f2e;
}
