root {
	background: #00b4ff;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.logo{
    z-index: 10000;
    min-height: 70px;
    
}
#main{
    padding-top: 75px;
}
